* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(168, 110, 110);
  color: black;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.container {
  width: 80%;
  margin: 10px auto;
}
.product_detail {
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 40px;
}
.product_gallery {
  display: grid;
  grid-template-columns: 100px 1fr;
  gap: 20px;
}
.product_thumbmain {
  max-height: 450px;
  overflow-y: auto;
  direction: rtl;
  scrollbar-width: thin;
}
.product_thumbmain img {
  width: 100%px;
  height: 100px;
}
.product_main img {
  width: 80%;
  height: 450px;
}
.catary {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}
.catary img {
  width: 200px;
  height: 200px;
}
.catary_main h3 {
  margin-top: 20px;
  margin-bottom: 20px;
  border-left: 3px solid rgb(230, 13, 13);
  padding-left: 20px;
}
@media (max-width: 766px) {
  .product_detail {
    grid-template-columns: 1fr;
  }
  .product_gallery {
    grid-template-columns: 1fr;
  }
  .product_main {
    order: 1;
  }
  .product_thumbmain {
    order: 2;
    direction: ltr;
    display: flex;
    gap: 10px;
  }
  .catary {
    grid-template-columns: repeat(2, 1fr);
  }
  .container {
    width: 95%;
  }
}
